version: '3.8'
services:
  n8n:
    build: .
    container_name: n8n
    restart: unless-stopped
    ports:
      - "5678:5678"
    environment:
      - N8N_HOST={{YOUR_N8N_HOSE}}
      - N8N_EDITOR_BASE_URL={{YOUR_N8N_EDITOR_BASE_URL}}
      - WEBHOOK_URL={{YOUR_N8N_WEBHOOK_URL}}
      - NODE_FUNCTION_ALLOW_BUILTIN=*
      - NODE_FUNCTION_ALLOW_EXTERNAL={{YOUR_LIBRARIES_TO_IMPORT}}
    volumes:
      - n8n_data:/home/node/.n8n
      - ./local-files:/files
volumes:
  n8n_data:
